*{
    margin: 0%;
}

header{
    background-color: $color-1ro;
    color: $color-3ro;
    padding-top: 4%;
    @include size(auto, 180px);
    border-width: $borde2;
    border-style: $borde;
    border-color: $color-2do;
} 



.navbar{
    font-family: $font-2;
    font-size: 20px;
    color: $color-2do;
    overflow: hidden;
    @include flex-column;
        .collapse{
            background-color: $color-1ro;
            display: block;
            @include flex-column;
            justify-content: end;
            
        }
}
@media(max-width: 586px) {
    .navbar{
        left: 0%;
    }
}
@media(max-width: 390px) {
    .navbar{
       display: flex;
       flex-direction: column;
    left: -100px;
}
}
.navbar-toggler{
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.venta-libro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    @include size(1100px, auto);
    border-width: $borde2;
    border-style: $borde;
    border-color: $color-2do;
    margin: auto;
        a:link{
            text-decoration-line: none;
            text-decoration-color: none;
            color: $color-4to}
            
}
@media (max-width: 586px) {
    .venta-libro{
        @include flex-column;
        flex-wrap: nowrap;
        @include size(auto, auto);
        border-width: $borde2;
        border-style: $borde;
        border-color: $color-2do;
        @include m-p(auto, auto);
    }
}
@media (max-width: 390px) {
    .venta-libro{
        @include flex-column;
        flex-wrap: nowrap;
        @include size(auto, auto);
        border-width: $borde2;
        border-style: $borde;
        border-color: $color-2do;
        @include m-p(auto, auto);
    }
}
.formulario{
    @include size(300px, 370px);
    background-color: $color-5to;
    font-family: $font-2;
    font-size: 20px;  
    @include flex-column;
    justify-content: center;
    @include m-p(auto, 15px);
    margin-top: 20px;
        .button{
           @include m-p(auto, auto);
        }
}


#pie{
    @include flex-row;
    justify-content: center;
    background-color: $color-1ro;
    text-align: center;
    font-size: 30px;
    @include size(auto, auto);
    border-width: $borde2;
    border-style: $borde;
    border-color: $color-2do;
         
    .in{
        text-decoration-line: none;
        text-decoration-color: none;
        color: rgb(46, 5, 48);
        color: $color-4to;
        font-family: $font-2;
        &:hover{
        color: $color-5to 
    }
    } 
}
.button{
    &:hover{
        background-color: $color-3ro;
    }
}





