.pagina1-grid{
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 10% 30% 25% 10% 50% 50px;

    grid-template-areas: 
    "titulo titulo"
    "imagen i2"
    "p1 p1"
    "tit-vta tit-vta"
    "vta vta"
    "pie pie";
}
header{
    grid-area: titulo;
}

.par1{
    grid-area: p1;
}
#pie{
    grid-area: pie;
}
.imgg{
    grid-area: imagen;
}
.imgsec-secundaria{
    grid-area: i2;
}
.venta-libro{
    grid-area: vta;
}
.nombre{
    grid-area: tit-vta;
}
