.firm{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%
}
@media(max-width: 576px) {
    .firm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%}
}
.p-mapa{
    margin: auto;
}
.mapa{
    width: 250px;
    height: 250px;
    margin: auto;
}
@media(max-width: 576px) {
    .mapa{
        width: auto;
        height: auto;
    }
}